name: CI - AT2 T2

on:
  push:
    branches:
      - tdd-item-api-green
  pull_request:
    branches:
      - tdd-item-api-green

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar Black (formatação)
        run: black --check .

      - name: Rodar Flake8 (linting)
        run: flake8 . 

      - name: Rodar os testes
        run: pytest -v
